@mixin clearfix {
  .row {
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

/* media queries */

/*
    breakpoints for devices

    0 - 600px       ---->   Mobile
    600px - 900px   ---->   Tablets
    900px - 1200px  ---->   Desktop
    1200px +        ---->   Biger screens + infinite


*/
