@mixin clearfix {
  .row {
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

/* media queries */

/*
    breakpoints for devices

    0 - 600px       ---->   Mobile
    600px - 900px   ---->   Tablets
    900px - 1200px  ---->   Desktop
    1200px +        ---->   Bigger screens + infinite

*/

@mixin respond-to($size) {
  @if $size == phone {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $size == tablet {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $size == tablet-land {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $size == bigger-screens {
    @media (max-width: 1800px) {
      @content;
    }
  }
}
