.header {
  &__logo {
    height: 7.5rem;
    position: absolute;
    top: 1.2rem;
    left: 3rem;
  }

  &__title {
    margin-right: 3rem;
    text-transform: uppercase;
    text-align: center;

    &--main {
      display: block;
      font-size: 3rem;
      padding-bottom: 2rem;
      text-transform: capitalize;
      word-spacing: 2px;
      letter-spacing: 1px;
      animation-name: fadeInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }

    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      text-transform: capitalize;
      animation-name: fadeInRight;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  }

  &__images {
    position: relative;

    &--darkblob {
      height: 400px;
      opacity: 0.7;
    }

    &--blueblob {
      height: 400px;
      position: absolute;
      top: 20%;
      left: 47%;
      transform: translateX(-3%);
    }

    &--simcard {
      position: absolute;
      top: 25%;
      left: 47%;
      transform: translateX(-19%);
    }
  }
}
