.plan-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;
  position: relative;

  &__view {
    transition: all 0.8s ease-in-out;
    height: 50rem;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 7px;
    box-shadow: 0px 1.5px 3px 2px rgba($black-color, 0.32);

    &--front {
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to top left,
          $color-purple-dark,
          $color-purple-light
        );
      }
      &-2 {
        background-image: linear-gradient(
          to top left,
          $color-orange-dark,
          $color-orange-light
        );
      }
      &-3 {
        background-image: linear-gradient(
          to top left,
          $color-green-dark,
          $color-green-light
        );
      }
    }
  }

  &:hover &__view--front {
    transform: rotateY(180deg);
  }
  &:hover &__view--back {
    transform: rotateY(0);
  }
}
