.u-bkg-white {
  background-color: $white-color;
}
.u-bkg-black {
  background-color: $black-color;
}

.u-vertical-padding-lg {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.u-vertical-padding-md {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.u-vertical-padding-sm {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.u-center-text {
  text-align: center;
}
