body {
  padding: 3rem;
  color: #777;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-about {
}

.section-specification-cards {
  background-image: linear-gradient(
      to bottom,
      rgba($primary-color, 0.5),
      rgba($primary-color, 0.5)
    ),
    url("../../starter/img/simcard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(18% 0px, 100% 0, 100% 86%, 0px 86%, 0 26%);
  height: 400px;
  width: 100%;
}

.section-plan-cards {
  margin-top: -18rem;
}

.section-feedback {
  margin-top: -20rem;
}

.section-form {
  margin-top: 30rem;
  &__bkg-video {
    height: 100%;
    width: 100%;
  }
}

.form {
  background-image: linear-gradient(
      105deg,
      rgba($white-color, 0.9) 0%,
      rgba($white-color, 0.9) 50%,
      transparent 50%
    ),
    url(../../starter/img/network-connection.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50rem;
  width: 80%;
  position: absolute;
  top: 423rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
