body {
  padding: 3rem;
  color: #777;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-about {
}

.section-specification-cards {
  background-image: url("../../starter/img/simcard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 100%;
}
